body {
margin:0;
padding: 0;
background: black;
font-size: medium;
font-family: 'Times New Roman', Times, serif;
}

h2{
    text-align: center;
    color: aqua;
    margin-top: 70px;
}







ul li:nth-child(4) {
    animation-delay: -0.8s;
    background: aqua;
    box-shadow: 0 0 50ps blue;
}

ul li:nth-child(4) {
    animation-delay: -0.8s;
    background: aqua;
    box-shadow: 0 0 50ps blue;
}

ul li:nth-child(4) {
    animation-delay: -0.8s;
    background: aqua;
    box-shadow: 0 0 50ps blue;
}

ul li:nth-child(4) {
    animation-delay: -0.8s;
    background: aqua;
    box-shadow: 0 0 50ps blue;
}