ul li:nth-child(4) {
    animation-delay: -0.8s;
    background: aqua;
    box-shadow: 0 0 50ps blue;
}

ul li:nth-child(4) {
    animation-delay: -0.8s;
    background: aqua;
    box-shadow: 0 0 50ps blue;
}

ul li:nth-child(4) {
    animation-delay: -0.8s;
    background: aqua;
    box-shadow: 0 0 50ps blue;
}

ul li:nth-child(4) {
    animation-delay: -0.8s;
    background: aqua;
    box-shadow: 0 0 50ps blue;
}